<div class="d-flex justify-content-center my-5"><h1 class="text-center title"><span class="sp1"></span>Services<span class="sp2"></span></h1></div>
<div class="container mt-5">
    <div class="row w-75 mx-auto g-3">
        <div class="col-md-12 col-lg-4">
            <div class="card rounded-5 shadow" >
                <img src="./assets/hand.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem Ipsum</h5>
                  <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio illo eaque cum impedit, amet cumque.</p>
               
                </div>
              </div>
        </div>
        <div class="col-md-12 rounded-3 col-lg-4">
            <div class="card rounded-5 shadow">
                <img src="./assets/tire.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem Ipsum</h5>
                  <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio illo eaque cum impedit, amet cumque.</p>
               
                </div>
              </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="card rounded-5 shadow" >
                <img src="./assets/many.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem Ipsum</h5>
                  <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio illo eaque cum impedit, amet cumque.</p>
               
                </div>
              </div>
        </div>
    </div>
    <button class="btn text-white rounded-pill px-4 py-2">Help Me</button>
</div>