$title-color:#6D91EE;
$main-text:white;
$family-font:poppin;
h1{
    font-family: $family-font;
    font-weight: 300;
    font-size: 3.75rem;
    color: $title-color ;
    margin-bottom: 0;
    padding: 0;
    line-height: 71.1px;
}
.sp{
    font-family: $family-font;
    font-weight: 800;
    font-size: 21px;
    letter-spacing: 10px;
    color: $title-color;
}
.spp{
    line-height: 24.88px;
}
i{
    color: $title-color;
    font-size: 60px;
}
button{
background-color: $title-color;
color: $main-text;
border: unset;
font-family:$family-font ;
font-weight: 500;
font-size: 24px;
&:hover{
    background-color: $title-color;
    color: $main-text;
}
}
.p1{
    font-family:$family-font;
    font-weight: 200;
    font-size: 96px;
    color: #4F4F4F;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 89.5px;
}
.p2{
    line-height: 89.5px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0;
    font-family: $family-font;
    font-weight: 900;
    font-size: 96px;
    color: #4F4F4F;
}
.p3{
    font-family: $family-font;
    font-weight: 600;
    font-size: 18px;
    line-height: 25.5px;
    width: 552px;
    text-align: center;
    padding-top: 1rem;
}
.btn2{
    background-color: #5180F6 !important;
}

@media screen and (min-width:320px) and (max-width:480px) {

h1{
    font-family: $family-font;
    font-weight: 300;
    font-size: 30px;
    color: $title-color ;
    margin-bottom: 0;
    padding: 0;
    line-height: 35px;
}
.sp{
    font-family: $family-font;
    font-weight: 800;
    font-size: 10.5px;
    letter-spacing: 5px;
    color: $title-color;
}
i{
    font-size: 35px;
}
.spp{
    line-height: 12.5px;
}
.ex{
    background-color: $title-color;
    color: $main-text;
    border: unset;
    font-family:$family-font ;
    font-weight: 500;
    font-size: 12px;
    padding-inline: 12px !important;
    margin-block-start: 2px !important;
}
.p1{
    font-family:$family-font;
    font-weight: 200;
    font-size: 48px;
    color: #4F4F4F;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 45px;
}
.p2{
    line-height: 45px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0;
    font-family: $family-font;
    font-weight: 900;
    font-size: 40px;
    color: #4F4F4F;
}
.p3{
    font-family: $family-font;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    width: 300px;
    text-align: center;
    padding-top: 1rem;
}
.btn2{
    background-color: #5180F6 !important;
    color: $main-text;
    border: unset;
    font-family:$family-font ;
    font-weight: 500;
    font-size: 12px;
    padding-inline: 25px !important;
    padding-block: 12px;
    margin-block-start: 10px !important;
}
}
@media screen and (min-width:481px) and (max-width:768px) {
h1{
    font-family: $family-font;
    font-weight: 300;
    font-size: 50px;
    color: $title-color ;
    margin-bottom: 0;
    padding: 0;
    line-height: 45px;
}
.sp{
    font-family: $family-font;
    font-weight: 800;
    font-size: 20.5px;
    letter-spacing: 7px;
    color: $title-color;
}
i{
    font-size: 40px;
}
.spp{
    line-height: 20px;
}
.ex{
    background-color: $title-color;
    color: $main-text;
    border: unset;
    font-family:$family-font ;
    font-weight: 500;
    font-size: 22px;
    padding-inline: 22px !important;
    margin-block-start: 5px !important;
}
.p1{
    font-family:$family-font;
    font-weight: 200;
    font-size: 70px;
    color: #4F4F4F;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    line-height: 55px;
}
.p2{
    line-height: 55px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    padding: 0;
    font-family: $family-font;
    font-weight: 900;
    font-size: 60px;
    color: #4F4F4F;
}
.p3{
    font-family: $family-font;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    width: 400px;
    text-align: center;
    padding-top: 1rem;
}
.btn2{
    background-color: #5180F6 !important;
    color: $main-text;
    border: unset;
    font-family:$family-font ;
    font-weight: 500;
    font-size: 22px;
    padding-inline: 35px !important;
    padding-block: 20px;
    margin-block-start: 18px !important;
}
}
@media screen and (min-width:769px) and (max-width:1024px) {
h1{
    font-family: $family-font;
    font-weight: 300;
    font-size: 40px;
    color: $title-color ;
    margin-bottom: 0;
    padding: 0;
    line-height: 35px;
}
.sp{
    font-family: $family-font;
    font-weight: 800;
    font-size: 17.5px;
    letter-spacing: 5px;
    color: $title-color;
}
i{
    font-size: 35px;
}
.spp{
    line-height: 15px;
}
.ex{
    background-color: $title-color;
    color: $main-text;
    border: unset;
    font-family:$family-font ;
    font-weight: 500;
    font-size: 17px;
    padding-inline: 17px !important;
    margin-block-start: 3px !important;
}
.p1{
    font-family:$family-font;
    font-weight: 200;
    font-size: 60px;
    color: #4F4F4F;
    margin-block-start: 10px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 40px;
}
.p2{
    line-height: 45px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    padding: 0;
    font-family: $family-font;
    font-weight: 900;
    font-size: 55px;
    color: #4F4F4F;
}
.p3{
    font-family: $family-font;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    width: 450px;
    text-align: center;
    padding-top: 1rem;
}
.btn2{
    background-color: #5180F6 !important;
    color: $main-text;
    border: unset;
    font-family:$family-font ;
    font-weight: 500;
    font-size: 17px;
    padding-inline: 25px !important;
    padding-block: 15px;
    margin-block-start: 15px !important;
}
}
@media screen and (min-width:1025px) and (max-width:1200px) {
h1{
    font-family: $family-font;
    font-weight: 300;
    font-size: 50px;
    color: $title-color ;
    margin-bottom: 0;
    padding: 0;
    line-height: 50px;
}
.sp{
    font-family: $family-font;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 8px;
    color: $title-color;
}
i{
    font-size: 45px;
}
.spp{
    line-height: 15px;
}
.ex{
    background-color: $title-color;
    color: $main-text;
    border: unset;
    font-family:$family-font ;
    font-weight: 500;
    font-size: 20px;
    padding-inline: 20px !important;
    margin-block-start: 5px !important;
}
.p1{
    font-family:$family-font;
    font-weight: 200;
    font-size: 65px;
    color: #4F4F4F;
    margin-block-start: 15px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 45px;
}
.p2{
    line-height: 50px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start:0 px;
    margin-inline-end: 0px;
    padding: 0;
    font-family: $family-font;
    font-weight: 900;
    font-size: 60px;
    color: #4F4F4F;
}
.p3{
    font-family: $family-font;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    width: 480px;
    text-align: center;
    padding-top: 1rem;
}
.btn2{
    background-color: #5180F6 !important;
    color: $main-text;
    border: unset;
    font-family:$family-font ;
    font-weight: 500;
    font-size: 25px;
    padding-inline: 35px !important;
    padding-block: 20px;
    margin-block-start: 20px !important;
}
}
@media screen and (min-width:1201px) {

}
