@font-face {
    font-family:navFont;
    src: url(assets/Source_Serif_4/SourceSerif4-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: poppin;
    src: url(assets/PoppinsSource_Serif_4/Source_Serif_4/SourceSerif4-VariableFont_opsz\,wght.ttf);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
